.audittrail {
	height: 100%;
	width: 100%;
	position:absolute;
	top: 0;
	left: 0;
//	background-image: url($path--rel + 'home-bg.jpg');
//	background-repeat: no-repeat;
//	background-size: cover;
	background-color: rgb(256,256,256);


	.navbar-default {
	  background-color: rgb(50,50,50);
	}
}
